services:
  app:
    init: true
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      AD_MOCK: 'true'
      COOKIE_SECRET: 'verysecret'
      CRYPTO_SECRET_KEY: '01234567890123456789012345678901'
      API_BASE_URL: 'http://localhost:3000/'
      FRONTEND_BASE_URL: 'http://localhost:3000'
      RDS_DB_NAME: 'nuta'
      RDS_HOSTNAME: 'db'
      RDS_PASSWORD: 'password'
      REDIS_HOST: 'redis'
    ports:
      - '3000:3000'
    depends_on:
      - db
      - redis

  db:
    image: postgres:18
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'nuta'
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  redis:
    image: redis:8-alpine
    ports:
      - '6379:6379'
    healthcheck:
      test: '[ "$$(redis-cli -h 127.0.0.1 ping)" == "PONG" ]'
      interval: 1s
      timeout: 5s
      retries: 5

volumes:
  db-data:
